<h1>Welcome to your account page, <%= current_user.name %>.</h1>
<h4>Currently we have this cell phone that accepts text messages on file: <%= current_user.cellphone %></h4>
<br>
<br>
<h2> Below are all your OpenMicWorld registered performance songs.  Click one to view its details. </h2>

<p>
  <ol type="1">
    <% @performances.each do |performance| %>
      <% if performance.user_id == @user.id %>
        <li><a href="/performances/<%= performance.id %>"><strong><%= performance.song %></strong> by <%= performance.artist %> </a></li>
      <% end %>
    <% end %>
  </ol>
</p>