<h1>Welcome to Open Mic World!</h1>
<h2>All Performances</h2>
    <% if logged_in? %>
      <a href="/performances/new"> Sign Up To Perform at an Open Mic Night </a>
      <a href="/users/logout"> Log Out </a>

      <p>Welcome, <%=current_user.name %></p>
        <%# <% @performances.each do |performance| %>
        <%# <a href="/performances/performances<%= performance.id %>"><br> %>
        <%# <%= performance.user_id.name %></a><br> %>
        <%# <%= performance.song %></a><br> %>
        <%# <%= performance.artist %></a><br> %>
        <%# <%= performance.genre %></a><br> %>
        <%# <% end %> %>

    <% else %>
      <h3>Please login to register for a performance or signup for OpenMicWorld by clicking Sign Up below.</h3>
      <a class="button" href="/users/login">Log In</a>
      <a class="button" href="/users/signup">Sign Up</a>
    <%end %>