    <% if logged_in? %>
      
      <h1><p>Hi <%=current_user.name %>, welcome to OpenMicWorld!</p></h1>

    <% else %>
      <h3>Please login to register for a performance.</h3>
      <a class="button" href="/users/login">Log In</a>
      <br>
      <br>
      <h3>Need an account?  Sign Up here:</h3>
      <a class="button" href="/users/signup">Create an OpenMicWorld Account</a>
    <%end %>

      <h2>&emsp; Below Are All Users' Registered Performances</h2>
        <%# <% @performances.each do |performance| %>
        <%# <a href="/performances/performances<%= performance.id %>"><br> %>
        <%# <%= performance.user_id.name %></a><br> %>
        <%# <%= performance.song %></a><br> %>
        <%# <%= performance.artist %></a><br> %>
        <%# <%= performance.genre %></a><br> %>
        <%# <% end %> %>
      <br>
      <br>
    <% if logged_in? %>
      <a href="/performances/new"> If you're ready to sign up to perform at an open mic night, click here.</a>
      <br>
      <br>
      <a class="button" href="/users/logout"> Log Out </a>
      
    <% else %>
    <% end %>