<h1><p> Hi, <%= current_user.name %></h1>
<h2> Here are all open OpenMicWorld's users' upcoming performances:</h2>

<%# <% @performances.each do |performance| %>
  <%# <div> %>
    <%# <%= performance.user.name %> %>
    <%# <%= performance.song %> %>
    <%# <%= performance.artist %> %>
    <%# <%= performance.genre %> %>
  <%# </div> %>
<%# <% end %> %> %>
<br>
<br>
<h5>Be sure there's a link for the user to add their performance AND/OR go to their show page</h5>
