<h2><strong><%= current_user.name %></strong>, you are now registered to sing:</h2>
<h1><p><strong><%= @performance.song %></strong> written by <%= @performance.artist %></p>
<p>Music Genre: <%= @performance.genre %></p></h1>

<% if authorized_to_edit?(@performance) %>
  <h3>Want to change something in your song registration?</h3>
  <a class="button" href="/performances/<%= @performance.id%>/edit">Edit this Song Registration</a>
  <br>
  <br>
  <form class="" action="/performances/<%= @performance.id %>" method="post">
    <h3>Or, want to delete this entry?</h3>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Song Registration"></a>
  </form>
<% end %>
