<% if @performance.user_id == current_user.id %>
<h1><strong><%= current_user.name %></strong>, you have registered to perform <%= @performance.song %></strong>, a <%= @performance.genre.downcase %> song, written by <%= @performance.artist %>.</h1>
<br>
<% else %>
<h1><strong><%= current_user.name %>, the <%= @performance.genre.downcase %> song called <%= @performance.song %> written by <%= @performance.artist %> will be performed by OpenMicWorld user <% @name = User.find_by(id: @performance[:user_id]) %><%= @name.name %> soon!</h1>
<br><br>
<a class="button" href="/"> See All Songs Registered on OpenMicWorld </a>
<br><br><br><br>
<% end %>
<br><br><br>
<% if authorized_to_edit?(@performance) %>
  <h3>Want to change something in your song registration?</h3>
  <a class="button" href="/performances/<%= @performance.id%>/edit">Edit this Song Registration</a>
  <br>
  <br>
  <form class="" action="/performances/<%= @performance.id %>" method="post">
    <h3>Or, want to delete this entry?</h3>
    <input type="hidden" name="_method" value="DELETE">
    <input class="button" type="submit" name="" value="Delete this Song Registration"></a>
  </form>
<% end %>
<br><br><br><br>