

<h3><%= @performance.song %></h3>
<p><%= @performance.artist %></p>
<p>Mood: <%= @performance.genre %></p>

<p>Created by: <%= @performance.user.name %></p>

<%# <p>created on <%= @performance.formatted_created_at %></p>


<%# <% if authorized_to_edit?(@performance) %> %>
  <%# <a href="/performances/<%= @performance.id %>/edit">Edit Entry</a> %>
  <%# <br><br> %>
  <%# <form class="" action="/performances/<%= @performance.id %>" method="post"> %>
    <!-- How do I turn this form submission into a DELETE request??? -->
    <%# <input type="hidden" name="_method" value="DELETE"> %>
    <%# <input type="submit" name="" value="Delete this Entry"> %>
  <%# </form> %>
<%# <% end %> %> %>
