<h1>Here's a song you, <strong><%= current_user.name %></strong>, are registered to sing</h1>
<h2></h2>
<p>Song title is <strong><%= @performance.song %></strong> written by <%= @performance.artist %></p>
<p>Music Genre: <%= @performance.genre %></p>
<p>created on <%= @performance.formatted_created_at %></p>


<%# ADD LINK TO EDIT PERFORMANCES HERE %>
<% if authorized_to_edit?(@performance) %>
  <a href="/performance/<%= @performance.id %>/edit">Edit Song Entry</a>
  <br><br>
  <form class="" action="/performance/<%= @performance.id %>" method="post">
    <!-- How do I turn this form submission into a DELETE request??? -->
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
  </form>
<% end %>
